<div class="bd-footer footer pt-5">
    <div class="py-4 rodape w-100">
        <div class="row justify-content-evenly w-100">
            <div class="col-auto align-self-center">
                <a class="mb-2" href="" aria-label="Bootstrap">
                    <img src="../../assets/img/whiteLogoMini.png" alt="">
                </a>
            </div>
            <div class="col-auto colRodape">
                <h5>Lumina Tech Consulting</h5>
                <p class="mb-2">
                    <i class="fa fa-phone" aria-hidden="true"></i> +55 15 99123 4567
                </p>
                <p class="mb-2">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i> Bandeiras Centro Empresarial
                </p>
                <iframe class="mapinha mb-2"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14631.418295286592!2d-47.4479711!3d-23.5377324!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf61dfbc55474b%3A0xae27b8a395b8398e!2sBandeiras%20Centro%20Empresarial!5e0!3m2!1spt-BR!2sbr!4v1700535792349!5m2!1spt-BR!2sbr"
                    width="387" height="143" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" class="mapinha"></iframe>
            </div>
            <div class="col-auto colRodape">
                <br>
                <p class="mb-2">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> +55 15 99123 4567
                  </p>
                <p class="mb-2">
                    <i class="fa fa-instagram" aria-hidden="true"></i> luminatech
                </p>
            </div>
            <div class="col-auto align-self-end">
                <a class="mb-2" href="#"><img src="../../../assets/img/inicio.png" alt=""></a>
            </div>
        </div>
    </div>
</div>