<header>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </header>
  <body style="background-color: rgb(26, 26, 25);">
  <main>
    <div id="perfil">
        <div class="container text-left">
            <div class="row">
                <div class="col-md-4" id="perfilImgName">
                    <figure>
                        <img class="perfilFoto" src="../../assets/img/Perfil/GM_oficina_foto.jpg">
                        <h5 class="perfilNome">Grupo Automec</h5>
                        <h5 class="perfilCargo">Lavínia Nogueira</h5>
                        <h5 class="perfilEmpresa">Gerente Geral</h5>
                    </figure>
                </div>
                <div class="col-md-8 p-0" id="perfilTxt">
                    <div id="perfilTxtSobre">
                        <p>
                            Somos o Grupo Automec. Aqui, vivemos a sustentabilidade em cada ação.
                            Desenvolvemos soluções ecoamigáveis, integrando práticas sustentáveis em todas as
                            áreas.
                            Do chão de fábrica à gestão, construímos um futuro verde. Junte-se a nós nesta
                            jornada por
                            um ambiente de negócios mais consciente. Vamos fazer a diferença! 🌿🌐
                            #Sustentabilidade #GrupoAutomec</p>
                    </div>
                    <div class="perfilMensagens">
                        <figure>
                            <img class="perfilMsgimg" src="../../assets/img/Perfil/mensagensPerfil.png">
                        </figure>
                        <div class="d-flex justify-content-between align-items-center" id="perfilMsg">
                            <div class="d-flex justify-content-start">
                                <h1>Mensagens</h1>
                            </div>
                            <div id="sininhoPerfil" class="d-flex justify-content-end">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center align-items-center" id="perfilFotinha">
                            <div id="perfilFoto">
                                <img src="/../../assets/img/Perfil/jardinagem.png" alt="foto1">
                            </div>
                            <div id="nomepessoa">
                                <h2>Casa Grande Jadinagem</h2>
                                <p>
                                    Oi Lívia, sou um empresário comprometido com a sustentabilidade. Gostaria de
                                    explorar oportunidades de parceria para impulsionarmos juntos práticas mais
                                    ecoamigáveis. Estou à disposição para uma conversa. Podemos agendar?
                                </p>
                            </div>

                            <div id="bolinha">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center align-items-center" id="perfilFotinha">
                            <div id="perfilFoto">
                                <img src="/../../assets/img/Perfil/reciclagem.jpg" alt="foto2">
                            </div>
                            <div id="nomepessoa">
                                <h2>Novo Vale Reciclagem</h2>
                                <p>
                                    Sou Marcio, empresário comprometido com a sustentabilidade. Estou
                                    interessado em explorar parcerias para impulsionar práticas ecoamigáveis em
                                    nossas operações. Podemos agendar uma conversa rápida?
                                </p>
                            </div>

                            <div id="bolinha">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
  </main>    
</body>