<header>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
</header>
<main>
  <div id="circulo" class="carousel slide slideInicio">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#circulo"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#circulo"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#circulo"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner sombra">
      <div class="carousel-item active">
        <img
          src="../../assets/img/banner-home-1.png"
          class="d-block w-100 imgSlide"
          alt="..."
        />
        <div class="divTexto">
          <div class="texto">
            <p>
              A Lumina é uma plataforma dedicada à consultoria tecnológica e
              inovação sustentável, explore conosco e descubra como podemos
              iluminar o caminho para um futuro mais sustentável!
            </p>
          </div>
          <div class="saibaMais">
            <a href="./sobre.html">
              <button class="botaoGeral">Saiba Mais</button>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/banner-home-1.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="divTexto">
          <div class="texto">
            <p>
              A colaboração entre empresas e organizações não governamentais
              promovem uma responsabilidade social corporativa e possibilitam
              inovações significativas abordando desafios críticos e
              contribuindo para o bem-estar da sociedade como um todo.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/img/banner-home-1.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="divTexto">
          <div class="texto">
            <p>
              A plataforma de notícias emerge como uma fonte dinâmica e
              informativa, dedicada a explorar as últimas tendências e inovações
              no cenário tecnológico voltado para práticas sustentáveis nas
              empresas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button
        class="carousel-control-prev anteriorSlide"
        type="button"
        data-bs-target="#circulo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next proximoSlide"
        type="button"
        data-bs-target="#circulo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container text-start mt-4 pb-5">
    <div class="row row-cols-2 metasTexto">
      <div class="col mb-5">
        <h2>
          <i class="fa-solid fa-location-dot"></i> Presentes em 10 estados
        </h2>
      </div>
      <div class="col mb-5">
        <h2><i class="fa-solid fa-industry"></i> 1000+ empresas cadastradas</h2>
      </div>
      <div class="col mb-5">
        <h2>
          <i class="fa-solid fa-file-contract"></i> 750+ contratos firmados
        </h2>
      </div>
      <div class="col mb-5">
        <h2><i class="fa-solid fa-briefcase"></i> 1500+ empregos gerados</h2>
      </div>
      <div class="col-12 text-center">
        <button class="facaParte botaoGeral">Faça parte</button>
      </div>
    </div>
  </div>
  <div class="homeBlog w-100 pb-5">
    <h1 class="text-center">Blog</h1>
    <div id="carouselBlog" class="carousel">
      <div class="carousel-inner carouselBlog">
        <div class="carousel-item active itemBlog">
          <div class="card">
            <img src="" class="d-block imgBlog" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Cientistas Alcançam Novo Patamar na Computação Quântica
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item itemBlog">
          <div class="card">
            <img src="" class="d-block imgBlog" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Reciclagem de Eletrônicos: Conheça os benefícios dessa Nova
                Tecnologia
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item itemBlog">
          <div class="card">
            <img
              src="../img/blog/blog4.png"
              class="d-block imgBlog"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Desenvolvedores criam código que Economiza nas impressões
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item itemBlog">
          <div class="card">
            <img
              src="../img/blog/blog2.png"
              class="d-block imgBlog"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Cientistas Alcançam Novo Patamar na Computação Quântica
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item itemBlog">
          <div class="card">
            <img
              src="../img/blog/blog3.png"
              class="d-block imgBlog"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Reciclagem de Eletrônicos: Conheça os benefícios dessa Nova
                Tecnologia
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item itemBlog">
          <div class="card">
            <img
              src="../img/blog/blog4.png"
              class="d-block imgBlog"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Desenvolvedores criam código que Economiza nas impressões
              </p>
              <a href="./blog.html" class="d-flex justify-content-end"
                >Leia mais +</a
              >
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev anteriorBlog"
        type="button"
        data-bs-target="#carouselBlog"
      >
        <span>&lt;</span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next proximoBlog"
        type="button"
        data-bs-target="#carouselBlog"
        data-bs-slide="next"
      >
        <span>&gt;</span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>
